.h1menu {
color:  white;
float: center ;
margin-left: 250px;
padding-bottom: 10px;
}
   
.pmenu{
color: white;
margin-left: 250px;
position: relative;
}
.amenu{
    margin-left: 250px;
    position: relative;
    
}

.menuimg{
    height: 200px;
    width: 300px;
}


