
/*Estilos del titulo*/
.titulo{
    color: rgba(255, 166, 0, 0.996);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-family: 'Courier New', monospace
}
/*img style*/
.img1{
    background: local;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 35px;
  }
  /*label style*/
  .labelU{
    position: absolute;
    color: rgb(70, 38, 0);
    top: 130px;
    left: 43%;
    font-family: 'Courier New', monospace
  }

  .labelP{
    position: absolute;
    color: rgb(70, 38, 0);
    top: 180px;
    left: 43%;
    font-family: 'Courier New', monospace
  }

  /*imput style*/
  .input1{
    border-radius: 5px;
    position: absolute;
    top: 150px;
    left: 43%;
    font-family: 'Courier New', monospace
  }
  .input2{
    border-radius: 5px;
    position: absolute;
    top: 200px;
    left: 43%;
    font-family: 'Courier New', monospace
  }
  /*Style buttom*/
  .but1{
    background: linear-gradient(to right, rgba(255, 231, 190, 0.596)  , rgba(84, 41, 0, 0.862));
    color: black; 
    border-radius: 6px;
    position: absolute;
    top: 250px;
    left: 47%;
    font-size: 16px;
    padding: 8px 15px;
    font-family: 'Courier New', monospace
  }

  .caja{
    position: relative;
    display: inline-block;
  }

